@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderMotion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-borderMotion {
  background-size: 100% 100%;
  animation: borderMotion 4s ease infinite;
}

